.alert-container {
	position: fixed;
	width: 40%;
	top: 4em;
	left: 50%;
	margin-left: -20%; /* should be negative half of width */
}

@media (max-width: 1200px) {
	.alert-container {
		width: 96%;
		margin-left: -48%;
	}
}
