<tr v-if="beingEdited" v-on:keyup.enter="update" v-on:keyup.esc="cancel">
	<td>{{index + 1}}
	<td class="song-name"><input class="form-control" type="text" v-model="localSong.name"/></td>
	<td class="song-artist"><input class="form-control" type="text" v-model="localSong.artist"/></td>
	<td class="song-album"><input class="form-control" type="text" v-model="localSong.album"/></td>
	<td class="song-genre"><input class="form-control" type="text" v-model="localSong.genre"/></td>
	<td class="song-length">
		<input class="len-input form-control" type="text" v-model="localSong.minutes"/>:<input class="len-input form-control" type="text" v-model="localSong.seconds"/>
	</td>
	<td>
		<button class="btn btn-default" type="button" v-on:click="update">update</button>
		<button class="btn btn-default" type="button" v-on:click="cancel">cancel</button>
	</td>
</tr>
<tr v-else>
	<td>{{index + 1}}
	<td class="song-name">{{song.name}}</td>
	<td class="song-artist">{{song.artist}}</td>
	<td class="song-album">{{song.album}}</td>
	<td class="song-genre">{{song.genre}}</td>
	<td class="song-length">{{song.minutes}}:{{song.seconds}}</td>
	<td><button class="btn btn-default" type="button" v-on:click="edit">edit</button></td>
</tr>
